.headerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
  align-items: center;
  height: 88px;
  width: 100%;
  background-color: #0c2027;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.headerLogo {
  height: 32px;
  width: 80px;
  position: relative;
}

.headerNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  @media (max-width: 768px) {
    display: none;
  }
}

.headerMenu {
  position: relative;
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
}

.headerNavItem {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  cursor: pointer;
}

.headerNavItemActive {
  color: #f06523;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  cursor: pointer;
}

.menuContainer {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000e0;
  z-index: 100;
  overflow: hidden;
  display: none;
  padding: 28px 16px;
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.menuItem {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 20px;
  text-align: center;
}
