.BannerImg {
  position: relative;
}
.imgGrid {
  position: relative;
}
.textDiv {
  position: absolute;
  width: 50%;
  top: 30%;
}
.bannerHeading {
  color: #0c2027;
  font-family: DM Sans;
  font-size: 67.773px;
  font-style: normal;
  font-weight: 700;
  line-height: 108.7%;
}
.bannerText {
    margin-top: 15px;
  color: #212122;
  /* body 2 */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
