.wrapper {
  background-color: #0c2027;
  padding: 200px 0 100px;
  @media (max-width: 768px) {
    padding: 100px 0 50px;
  }
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.title {
  font-size: 54px;
  line-height: 40px;
  font-weight: 600;
  color: #fff;
  @media (max-width: 768px) {
    font-size: 32px;
    line-height: 36px;
  }
}

.caption {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #fff;
  max-width: 606px;
  width: 100%;
  text-align: center;
  @media (max-width: 768px) {
    font-size: 14px;
    max-width: 100%;
  }
}
