.container {
  width: 100%;
  /* min-height: 400px; */
  display: flex;
  justify-content: center;
  gap: 30px;

  @media (max-width:786px) {
    flex-direction: column;
  }
}

.card {
  width: 32%;
  /* height: 52vh; */
  background-color: rgba(126, 134, 147, 0.2);
  border-radius: 10px;

  @media (max-width:786px) {
    width: 100%;

  }
}



.image {
  width: 100%;
  height: 100%;
}

.head {
  color: #06ba63;
  font-weight: 800;
  font-size: 20px;
  color: #06ba63;
  padding-top: 12px;
  font-weight: 800;
}

.cont1 {
  color: #fff;
  padding-top: 12px;  
  font-size: 14px;
 
}

/* .desc {
    color: #fff;
} */